
<link href="../assets/styles/metro-bootstrap.css" rel="stylesheet" />

<div class="modalContainer col-xs-12" ng-show="createGameModalOn"
     style="height: 100vh; z-index: 10000000; left: 0px; position: absolute;">
    <div class="col-xs-12" style="height: 125px; margin: 0px; padding: 0px;"></div>
    <div class="col-xs-3"></div>
    <div id="createGameModalOn" ng-show="createGameModalOn" class="col-xs-6" style="z-index: 10000000;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeCreateGameModal();"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel2" style="text-align: center;">Game Options</h4>
            </div>
            <div class="modal-body" style="height: 250px;">

                <div class="col-xs-12" style="padding: 0">

                    <div class="col-xs-12 lobby_gameCreate_attribute">
                        <div class="col-xs-4 lobby_gameCreate_legend">Buyin value</div>
                        <select class="col-xs-8" ng-model="paramCreate.buyIn">
                            <option value="100"> $ 100</option>
                            <option value="250"> $ 250</option>
                            <option value="500">$ 500</option>
                            <option value="1000">$ 1,000</option>
                            <option value="2500">$ 2,500</option>
                        </select>
                    </div>

                    <div class="col-xs-12 lobby_gameCreate_attribute">
                        <div class="col-xs-4 lobby_gameCreate_legend">Type of Game</div>
                        <select class="col-xs-8" ng-model="paramCreate.gameType" ng-change="update_gameChange()">
                            <option value="Fourty four" selected="selected">Fourty four</option>
                            <option disabled>More games coming soon!</option>
                        </select>
                    </div>

                    <div class="col-xs-12 lobby_gameCreate_attribute">
                        <div class="col-xs-4 lobby_gameCreate_legend">Players number</div>
                        <select ng-model="paramCreate.maxPlayers" class="number_player_pick"
                                ng-options="item as item for item in [2,3,4,5,6,7,8]"
                                style="width: 66%; padding-left: 1em;"></select>
                    </div>

                    <div class="col-xs-12 lobby_gameCreate_attribute">
                        <div class="col-xs-4 lobby_gameCreate_legend">Currencies</div>
                        <select class="col-xs-8">
                            <option>EUR/USD</option>
                            <option disabled>More currencies coming soon!</option>
                        </select>
                    </div>

                    <div class="col-xs-12 lobby_gameCreate_attribute"
                         ng-show="!game_timeExtend && !game_timeExtend_hit">
                        <div class="col-xs-4 lobby_gameCreate_legend">Game Time</div>
                        <select class="col-xs-8" ng-model="paramCreate.totalGameTime" required="required">
                            <option value="30000">30 seconds</option>
                            <option value="60000">1 minute</option>
                            <option value="180000">3 minutes</option>
                            <option value="300000">5 minutes</option>
                            <option value="600000" selected="selected">10 minutes</option>
                            <option value="900000">15 minutes</option>
                            <option value="1200000">20 minutes</option>
                            <option value="1500000">25 minutes</option>
                            <option value="1800000">30 minutes</option>
                            <option value="2700000">45 minutes</option>
                            <option value="3600000">60 minutes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeCreateGameModal();">
                    Close
                </button>
                <button type="button" class="btn btn-success" ng-click="create_table(paramCreate);">Create</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <div class="col-xs-3"></div>
</div>

<div class="row" style="margin-left:-70px; margin-right:-70px">
<!--<div class="  col-xs-12" style="left: 0; padding: 0; position: absolute; ">-->
    <div class="col-xs-12" style="height: 85px; "></div>
    <div id="lobbyLeft" class="col-xs-1" ng-include="'partials/rightbar.html'" style="float:left; padding-left: 0"></div>
    
    <!-- ****************************DEBUT AJOUT LUDO******************************* -->
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountMessage.html'" ng-show="rightbar_page=='message'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; z-index: 14;">
    </div>
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountMyAccount.html'" ng-show="rightbar_page=='MyAccount'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;"
            ng-controller="AccountController">
    </div>
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountShop.html'" ng-show="rightbar_page=='Shop'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div>

   
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar container panel panel-default"
         ng-include="'partials/rightbar_content_stats.html'" ng-show="rightbar_page=='Performance'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #B40404; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div>
<!--    -->


    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountProfile.html'" ng-show="rightbar_page=='Profile'" onload="loadTradestarExperience();"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div>
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountSchedule.html'" ng-show="rightbar_page=='Schedule'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div>
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountSettings.html'" ng-show="rightbar_page=='Settings'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div>
    <div class="col-xs-10 col-xs-offset-1 animated content_rightBar"
         ng-include="'partials/rightbar_content_accountAlerts.html'" ng-show="rightbar_page=='Alerts'"
         ng-class="{ fadeInRightSlide : rightbar_page, fadeOutRightSlide : !rightbar_page}"
         style="margin-top:90px;background: #ffffff; position: absolute; top: 1vh; padding: 0; height: 800px; z-index: 14;">
    </div> 
<!-- *****************************FIN AJOUT LUDO****************************** -->
<!--
<div id="mainLobbyContent" class=" col-xs-9 " style="background-color: red; padding: 10px; margin:0px auto ">
</div>-->

    <div id="mainLobbyContent" class="col-xs-9 " style="background-color: white; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
                    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); padding: 10px; ">
        <div class="col-xs-12" ng-include="'partials/world_clock.html'" style="padding: 0; background-color: white;">
        </div>
        <div class="col-xs-12" style=" background-color: white; padding: 0px; margin-bottom: 10px;">
            <div class="col-xs-3" style="padding-left: 0px; padding-right: 15px;">
                <select class="form-control btn-primary" ng-change="sortTables();" ng-model="sortParams.gameType" required="required">
                    <option value="any">Any Game Type</option>
                    <option value="Fourty four">Fourty Four</option>
                    <option value="Hit & run" disabled>Hit and Run</option>
                    <option value="Survivor" disabled>Survivor</option>
                    <option value="Eliminator" disabled>Eliminator</option>
                </select>
            </div>
            <div class="col-xs-3" style="padding-left: 5px; padding-right: 5px;">
                <select class="form-control btn-warning" ng-change="sortTables();" ng-model="sortParams.buyIn" required="required">
                    <option value="-1">Any Buy-in</option>
                    <option value="100">$ 100</option>
                    <option value="300">$ 300</option>
                    <option value="500">$ 500</option>
                    <option value="1000">$ 1000</option>
                </select>
            </div>
            <div class="col-xs-3" style="padding-left: 5px; padding-right: 5px;">
                <select class="form-control btn-danger" ng-change="sortTables();" ng-model="sortParams.totalGameTime" required="required">
                    <option value="-1">Any Time Limit</option>
                    <option value="60000">1 minute</option>
                    <option value="180000">3 minutes</option>
                    <option value="300000">5 minutes</option>
                    <option value="600000">10 minutes</option>
                </select>
            </div>
            <div class="col-xs-3" style="padding-left: 5px; padding-right: 0px;">
                <button class="btn btn-success" style="width: 100%"ng-click="createGameModal();">Create Table</button>
            </div>
        </div>
        <div class="col-xs-12" style="padding: 0px;">
            <div style="height: 405px; background-color: #f5f5f5; border: 1px solid #ddd; overflow:auto;">
                <table class="head fancyTable table table-strip" id="myTable2"
                       style="margin: 0; text-align: center; font-size: 0.9em;">
                    <thead>
                    <tr>
                        <th style="text-align: center; width: 16%; background-color: #c2beba;">Name</th>
                        <th style="text-align: center; width: 14%; background-color: #c2beba;">Buy-in</th>
                        <th style="text-align: center; width: 14%; background-color: #c2beba;">Players</th>
                        <th style="text-align: center; width: 14%; background-color: #c2beba;">Type</th>
                        <th style="text-align: center; width: 14%; background-color: #c2beba;">Time</th>
                        <th style="text-align: center; width: 14%; background-color: #c2beba;">Private</th>
                        <th style="text-align: center; width: 14%; background-color:#c2beba;">View table</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="table in andrew_tables" style="cursor: pointer; font-size: 0.888em; height:2vh;"
                        ng-click="animateFadeFloorIn(table.tableName);">

                        <td style=" border: none; width: 16%">{{table.tableName}}</td>
                        <td style=" border: none; width: 14%">${{table.buyIn}}</td>
                        <td style=" border: none; width: 14%">{{table.totalPlayers}}/{{table.maxPlayers}}</td>
                        <td style=" border: none; width: 14%"><span class="fa fa-bolt"
                                                                    style="padding-right: 0.4vh;"></span>{{table.gameType}}
                        </td>
                        <td style=" border: none; width: 14%">{{table.totalGameTime/60000}}</td>
                        <td style=" border: none; width: 14%"><span class="fa fa-lock"></span></td>
                        <td style=" border: none; width: 14%">
                            <button class="btn btn-xs btn-default" style="padding: 0;">
                            <span style="padding-left: 1em; padding-right: 1em; display: inline-block;"
                                  class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="lobbyRight" class="col-xs-2" ng-include="'partials/leftbar.html'" style="padding-right: 0; "></div>
<!--</div>-->

</div>

