<div class="listing_tools" style="background: white; vertical-align: top; margin: 0; height: 87vh; overflow: hidden;
 padding: 0;float:left; width: 85px;">
    <div class="disabled" style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('message');">
			<span style="font-size: 170%; text-align: center;"
                  class="glyphicon glyphicon-envelope" >
			</span> <br>
        <span style="font-size: .8em;"><b>Message</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Performance');">
			<span style="font-size: 170%; text-align: center;" class="glyphicon glyphicon-stats" >
			</span> <br>
        <span style="font-size: .8em;"><b>Performance</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('MyAccount');">
			<span style="font-size: 170%; text-align: center;" class="glyphicon glyphicon-briefcase" >
			</span>  <br>
        <span style="font-size: .8em;"><b>My Account</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Shop');">
			<span style="font-size: 170%; text-align: center;" class="glyphicon glyphicon-shopping-cart">
			</span> <br>
        <span style="font-size: .8em;"><b>Shop</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Profile');">
			<span style="font-size: 170%; text-align: center;"
                  class="glyphicon glyphicon-user" >
			</span>  <br>
        <span style="font-size: .8em;"><b>My Profile</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Schedule');">
			<span style="font-size: 170%; text-align: center;"
                  class="glyphicon glyphicon-calendar" >
			</span>  <br>
        <span style="font-size: .8em;"><b>Schedule</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Settings');">
			<span style="font-size: 170%; text-align: center;" class="glyphicon glyphicon-wrench" >
			</span>  <br>
        <span style="font-size: .8em;"><b>Settings</b></span>
    </div>

    <div style="width: 100%; padding: 10px 0px 10px 0px;" ng-click="changePage_rightbar('Alerts');">
			<span style="font-size: 170%; text-align: center;"
                  class="glyphicon glyphicon-bell" >
			</span>  <br>
        <span style="font-size: .8em;"><b>Alerts</b></span>
    </div>
</div>