<link href="../assets/styles/myprofile.css" rel="stylesheet" />
<script src="../assets/scripts/angular_controller.js"></script>
<script src="../assets/scripts/jquery.raty.js"></script>
<script type="text/javascript">
    $('.selectpicker').selectpicker('refresh');
    
	$("input[type='image']").click(function () {
        $("input[id='my_file']").click();
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
	

   
</script>

     <br />
<div class="col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav custom_profile_tab nav-tabs" role="tablist" style="background-color: #128023;border-top-left-radius:4px;border-top-right-radius:4px;height:40px;border-bottom:0px solid lightgray;">
        <li class="active"><a style="margin-right:0px;border-radius:5px 0px 0px 0px; background-color: #128023;" href="#myprofile" role="tab" data-toggle="tab">Profile</a></li>
        <li><a style="margin-right:0px;border-radius:0px; background-color: #128023;" href="#update_profile" role="tab" data-toggle="tab">Update Profile</a></li>
        <li><a style="margin-right:0px;border-radius:0px 5px 0px 0px; background-color: #128023;" href="#recent_activity" role="tab" data-toggle="tab">Recent Activity</a></li>
        
       <li style="float: right;"> <a style="color: white; background-color: #128023;" href="#update_profile" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content new_profiletab_pane">
        <div class="tab-pane fade in active" id="myprofile">
            <h4 style="color: gray; font-weight: bold; padding-left: 1em; /*border-bottom: 1px solid #EEE;*/">Your Profile</h4>
            <hr />
            <div class="row">
               
            
               <div class="col-xs-3" style="padding-left: 2em;">
                  
               <!-- Valerii-->
                        
<!--        <input  src="../../assets/images/home/newUserSmall.png" id="img_signup" style="float: right" />
        <input type="file" id="my_file" style="display: none;" />
-->
						
    <!--<input type="image" src="../../assets/images/trading_floor/man_user.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <img src="assets/images/users/{{playerInfo.username}}/profile_pic.png"  style="width: 120px; height: 120px; border-radius: 50%;" />
    <!--<img ng-src="assets/images/users/{{playerInfo.username}}/profile_pic.png"  style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image"    src="assets/images/users/{{playerInfo.username}}/profile_pic.png" ng-model="ImageUtilisateurProfil" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" ng-src="assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    
    <input type="image" ng-src="../assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" ng-src="../../assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" src="assets/images/users/{{$scope.playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <!--<input type="image" src="assets/images/users/lerobot/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <input type="file" id="my_file" style="display: none;" />         
					   
<!--<input class="profile_image" type="image" src="../../assets/images/home/newUserSmall.png" id="img_signup" style="float: right" />
    <input type="file" id="my_file" style="display: none;" />
					   
<!--<input type="hidden" name="MAX_FILE_SIZE" value="99999999">
<input type="file" name="image[]" id="my_file2" multiple="multiple"/> -->
                       
                       
                       
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_signup').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my_file").change(function () {
        readURL(this);
    });
</script>
                        
                      

                        
                        
                    <!--<div id="div_rate" class="col-xs-12"></div> -->
                </div>
                
                <!--end Valerii-->
                
                
                <div class="col-xs-8" style="width:72%;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold; width: 30%;">UserName</td>
                            <td style="font-size: 0.85em;">{{playerInfo.username}}</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold; width: 30%;">First Name</td>
                            <td style="font-size: 0.85em;">{{playerInfo.username}}</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold; width: 30%;">Last Name</td>
                            <td style="font-size: 0.85em;">{{playerInfo.username}}</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Age</td>
                            <td style="font-size: 0.85em;">{{playerInfo.username}}</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Points</td>
                            <td style="font-size: 0.85em;">
                                <span class="label label-success">2530</span>
                                <span class="label label-danger">310</span>
                                <span class="label label-warning">253</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Email</td>
                            <td style="font-size: 0.85em;"> example@domain.com</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Phone Number</td>
                            <td style="font-size: 0.85em;"> +1-514-802-XXXX</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Address</td>
                            <td style="font-size: 0.85em;">boul.Maisonneuve Ouest Suite 710, Montreal Qc, H4E1P3, Canada</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Date Joined</td>
                            <td style="font-size: 0.85em;"> 15.07.14</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">Last Login</td>
                            <td style="font-size: 0.85em;"> 23.09.14</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold;width:30%;">IP Address</td>
                            <td style="font-size: 0.85em;">
                                <span class="label label-danger">192.485.0.15</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="update_profile">
            <h4 style="padding-left: 1em; color: gray">Update Your Profile</h4>
            <hr />
            <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Telephone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputPhone" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputaddress" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Address</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group group-sm">
                        <label for="inputcountry" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Country</label>
                        <div class="col-sm-9">
                            <select class="selectpicker" data-size="9">
                                <option value="" selected="selected">Select Country</option>
                                <option value="United States">United States</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antarctica">Antarctica</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Bouvet Island">Bouvet Island</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote D'ivoire">Cote D'ivoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Territories">French Southern Territories</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-bissau">Guinea-bissau</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                <option value="Korea, Republic of">Korea, Republic of</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macao">Macao</option>
                                <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                <option value="Moldova, Republic of">Moldova, Republic of</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Namibia">Namibia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="Netherlands Antilles">Netherlands Antilles</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau">Palau</option>
                                <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Pitcairn">Pitcairn</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russian Federation">Russian Federation</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="Saint Helena">Saint Helena</option>
                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                <option value="Saint Lucia">Saint Lucia</option>
                                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                <option value="Samoa">Samoa</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Timor-leste">Timor-leste</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Viet Nam">Viet Nam</option>
                                <option value="Virgin Islands, British">Virgin Islands, British</option>
                                <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                <option value="Wallis and Futuna">Wallis and Futuna</option>
                                <option value="Western Sahara">Western Sahara</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputState" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">State</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputState" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputCity" placeholder="Enter City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputUsername" placeholder="Enter Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control input-sm" id="inputPassword3" placeholder="Enter Actual Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Confirm</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control input-sm" id="inputNewPassword3" placeholder="Enter New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label style="color: gray; font-size: 0.85em; font-weight: bold;">
                                    <input type="checkbox">
                                    Agree with Terms and Conditions
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-3">
                            <button type="submit" class="btn btn-sm btn-success">Update</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="reset" class="btn btn-sm btn-defaul">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>

            </div>
        </div>
        <div class="tab-pane fade" id="recent_activity">
            <h4 style="color: gray; font-weight: bold; padding-left: 1em;">Recent Activity</h4>
            <hr />
            <div class="row">
                <div class="col-xs-11" style="left:4%;">
                    <table class="table table-bordered">
                        <tr style="color: gray; font-size: 0.85em; font-weight: bold;">
                            <td style="width: 10%">SI.No.</td>
                            <td style="width: 15%">Date</td>
                            <td>Activity</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>1</td>
                            <td>
                                <span class="label label-danger" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>2</td>
                            <td>
                                <span class="label label-warning" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>3</td>
                            <td>
                                <span class="label label-success" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>4</td>
                            <td>
                                <span class="label label-info" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>5</td>
                            <td>
                                <span class="label label-primary" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>6</td>
                            <td>
                                <span class="label label-danger" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>7</td>
                            <td>
                                <span class="label label-warning" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>8</td>
                            <td>
                                <span class="label label-success" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>9</td>
                            <td>
                                <span class="label label-info" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>10</td>
                            <td>
                                <span class="label label-primary" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">Contacts</span>
                    <span class="pull-right">
                        <span><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></span>
                        <span><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></span>
                    </span>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr style="text-align:center;">
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Scott Stevens</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>
                                <span class="visible-xs"><span class="text-muted">5842 Hillcrest Rd</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>
                                <span class="visible-xs"><span class="text-muted">(870) 288-4149</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">scott.stevens@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Seth Frazier</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="7396 E North St"></span>
                                <span class="visible-xs"><span class="text-muted">7396 E North St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(560) 180-4143"></span>
                                <span class="visible-xs"><span class="text-muted">(560) 180-4143</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="seth.frazier@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">seth.frazier@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Jean Myers</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="4949 W Dallas St"></span>
                                <span class="visible-xs"><span class="text-muted">4949 W Dallas St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(477) 792-2822"></span>
                                <span class="visible-xs"><span class="text-muted">(477) 792-2822</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="jean.myers@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">jean.myers@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Todd Shelton</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5133 Pecan Acres Ln"></span>
                                <span class="visible-xs"><span class="text-muted">5133 Pecan Acres Ln</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(522) 991-3367"></span>
                                <span class="visible-xs"><span class="text-muted">(522) 991-3367</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="todd.shelton@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">todd.shelton@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Rosemary Porter</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5267 Cackson St"></span>
                                <span class="visible-xs"><span class="text-muted">5267 Cackson St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(497) 160-9776"></span>
                                <span class="visible-xs"><span class="text-muted">(497) 160-9776</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="rosemary.porter@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">rosemary.porter@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Debbie Schmidt</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="3903 W Alexander Rd"></span>
                                <span class="visible-xs"><span class="text-muted">3903 W Alexander Rd</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(867) 322-1852"></span>
                                <span class="visible-xs"><span class="text-muted">(867) 322-1852</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="debbie.schmidt@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">debbie.schmidt@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->

<script>
    $('#div_rate').raty();
</script>